 <footer class="page-footer black darken-3">
   <input type="hidden" name="rupeesUnicode" value="&#x20B9;" />
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text"></h5>
                <p class="grey-text text-lighten-4">Buy your favourite Items from our shopYoursDream Store.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <ul>
                  <li><a class="grey-text text-lighten-3" href="/about" target="_blank">About</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            &copy;<span id="year"></span><a class="grey-text text-lighten-3" href="/" target="_blank"> shopyoursdream.com</a>
            <p>All rights reserved.</p>
            <script>
                document.querySelector('#year').innerHTML = new Date().getFullYear() + " ";
            </script>
            </div>
          </div>
 </footer>
