

      
<div class="row">
  <br>
  <br>
  <h5 style="font-style:italic">"ShopYoursDream is a dummy e-commerce website. It is created to see how any e-commerce websites work."</h5>
  <p style="font-weight:bold">Developer, Ajaykumar Chauhan
  </p>
</div>

  